<h1>Detalhes do Tanque</h1>
<p>ID: <%= tanque.id %></p>
<p>Nome: <%= tanque.nome %></p>
<p>Descrição: <%= tanque.descricao %></p>
<p>Preço: <%= tanque.preco %></p>
<p>Quantidade: <%= tanque.quantidade %></p>
<p>Categoria: <%= tanque.categoria_nome %></p>
<a href="/tanques">Voltar</a>
